<%= render 'shared/errors', obj: @course %>

<div class='row'>
  <div class='well col-md-8 col-md-offset-2'>
    <%= form_for(@course, html: { multipart: true }) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :rating %>
      <%= f.number_field :rating, in: 1..5 %>
      
      <%= f.label :description %>
      <%= f.text_area :description, rows: 10 %>
      
      <strong>Domain : </strong>
      <%= f.collection_check_boxes :domain_ids, Domain.all, :id, :name do |cb| %>
        <%= cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") +cb.text} %>
      <% end %>
      <br><br>
      
      <strong>Prerequisites : </strong>
      <%= f.collection_check_boxes :prereq_ids, Prereq.all, :id, :name do |cbi| %>
        <%= cbi.label(class: "checkbox-inline input_checkbox") {cbi.check_box(class: "checkbox") +cbi.text} %>
      <% end %>
      <br><br>
      
      <span class='picture'>
        <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
      </span>
      
      <%= f.submit(@course.new_record? ? 'Create Course' : 'Edit Course', class: 'btn btn-success') %>
      
    <% end %>
  </div>
</div>

<script type='text/javascript'>
  $('#course_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Max size is 45 MB, choose another file');
    }
  })
</script>