<%= render 'shared/pagetitle', title: 'All Courses' %>

<%= will_paginate %>

<% @courses.each do |course| %>
  <div class="row">
    <div class="col-md-2">
      <section class='user-info center'>
        <%= link_to gravatar_for(course.user, size: 100), user_path(course.user) %>
        <h5>User name: <%= course.user.name %></h5>
      </section>
    </div>
  </div>
  
  <div class='col-lg-8 well'>
    <h4><%= link_to course.name, course_path(course) %></h4>
    <p><%= course.description %></p>
    <p>
      <span class='quiet'> Created: <%= time_ago_in_words(course.created_at) %> ago, </span>
      <span class='quiet'> Updated: <%= time_ago_in_words(course.updated_at) %> ago</span>
    </p>
    <div class='pull-right'>
        <%= link_to like_course_path(course, like: true), method: :post do %>
          <i class='glyphicon glyphicon-thumbs-up'></i>&nbsp <%= course.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_course_path(course, like: false), method: :post do %>
          <i class='glyphicon glyphicon-thumbs-down'></i>&nbsp <%= course.thumbs_down_total %>
        <% end %>
      </div>
  </div>
  
  <hr/>

<% end %>

<%= will_paginate %>