<%= render 'shared/pagetitle', title: @course.name %>
<div class='row'>
  <div class='col-md-4 pull-right center'>
    <%= link_to gravatar_for(@course.user, size: 200), user_path(@course.user) %>
    <p>
      <h5><%= @course.user.name %> entered this course<h5>
    </p>
  </div>
  <div class='col-md-8'>
    <% if logged_in? and @course.user == current_user || current_user.admin? %>
      <%= link_to 'Edit Course Info', edit_course_path(@course), class: 'btn btn-success pull-right' %>
    <% end %>
    <% if logged_in? and current_user.admin? %>
      <%= link_to '[DELETE COURSE]', @course, method: :delete, data: { confirm: 'Are You Sure?' } %>
    <% end %>
    <h3>Course Rating <%= @course.rating %></h3>
    <div class='show_course'>
      <%= image_tag(@course.picture.url, class: 'gravatar') if @course.picture? %>
    </div>
    <div class='well'>
      <% if @course.domains.any? %>
        <p>Domain: <%= render @course.domains %></p>
      <% end %>
      <% if @course.prereqs.any? %>
        <p>Prerequisites: <%= render @course.prereqs %></p>
      <% end %>
      <p>
        Description
      </p>
      <%= simple_format(@course.description) %>
      <div class='pull-right'>
        <%= link_to like_course_path(@course, like: true), method: :post do %>
          <i class='glyphicon glyphicon-thumbs-up'></i>&nbsp <%= @course.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_course_path(@course, like: false), method: :post do %>
          <i class='glyphicon glyphicon-thumbs-down'></i>&nbsp <%= @course.thumbs_down_total %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h5><%= link_to "Return to List", courses_path, class: "btn btn-warning btn-small" %></h5>